:root {
  --petrol: rgb(22, 172, 127);
}
body {
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0px;
}

.section{
  background-color: var(--petrol);
}

.carousel{
  display: flex;
  max-width: 800px;
  width: 100%;
  padding: 20px 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.carousel-wrapper{
  height: 500px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content:space-between;
}

.container-card{
  position: absolute;
  top: 0;
  left: 50%;
  background-color: white;
  border: 10px;
  padding: 10px;
  transform: scale(0.5) translate(-50%, 0%);
  transition: 0.5s ease-in-out;
}

/* .container-card:last-child {
  margin-right: 0px
} */

.container-card.left{
  transform:  translate(-100%, 0%) scale(0.5) rotateY(30deg) skewY(-5deg);
}

.container-card.right{
  transform: translate(0%, 0%) scale(0.5) rotateY(-30deg) skewY(5deg);
}

.container-card.active{
  transform: scale(1.0) translate(-50%, 0%);
  z-index: 100;
}

.container-card.hidden{
  opacity: 0%;
}


.text-box-card{
  align-items: center;
  color: var(--petrol)  
}

.btn {
  min-width: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-style: none;
  background: radial-gradient(circle, white 0%, var(--petrol) 100%);
  
  padding: 0;
}
.btn.left{
  margin-right: 10px;
}
.btn.right{
  margin-left: 10px;
}

.btn:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

