@import 'Default.module.scss';

.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 5px solid red
}

.card{
    margin: 0 10px;
    width: 49%;
    height: auto ;

    max-width: 400px;
    min-width: 0px;
    min-height: 0px;

    &.img-1{
        @media (min-width: 100px){
            display: none;
        }
    }

}