.home {
  padding-top: 100px;
  font-size: x-large;
}


.ring{
  width: 30px;
  height: 30px;
  border: 5px solid var(--petrol);
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  margin: 20px 85px;
  margin-bottom: -100px;

}

.dot{
  width: 30px;
  height: 30px;
  background-color: var(--petrol);
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  margin: 80px -15px;
  margin-bottom: -110px;
}



.robot.joint{
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3)
}

.work{
  display: flex;
  width: 100%;
}

.placeholder-bk{
  color: rgba(0, 0, 0, 0.3);
}

